<h1>Edit supplier</h1>

<form id="edit-supplier" name="supplier">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="lastname"> lastname:</label>
    <input type="text" name="lastname" id="lastname" value="<%= lastname %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Supplier" />
  </div>

</form>

<a href="#/index">Back</a>
