<h1>New supplier</h1>

<form id="new-supplier" name="supplier">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="lastname"> lastname:</label>
    <input type="text" name="lastname" id="lastname" value="<%= lastname %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Supplier" />
  </div>

</form>

<a href="#/index">Back</a>